<br/>
<form name="form_login" id="form_login" action="index.php" method="post">
<table align="center" cellspacing="2" border="0">
	<tr>
		<td style="background-color:darkblue;color:white;font-weight:bold">
			IDENTIFICACION
		</td>
		<td style="background-color:darkblue;color:white" align="center">
			<img src="media/login_pregunta_secreta.png" title="&iquest;Olvid&oacute; su clave?" />
		</td>
		<td style="background-color:darkblue;color:white" align="center">
			<img src="media/login_mail_soporte.png" title="Enviar mail a soporte" />
		</td>
		<td style="background-color:darkblue;color:white" align="center">
			<img src="media/login_ayuda.png" title="Ayuda" />
		</td>
	</tr>
	<tr>
		<td colspan="4" style="background-color:darkblue;color:white">
			<table>
				<tr>
					<td align="right" style="background-color:darkblue;color:white;font-weight:bold">
						usuario:
					</td>
					<td>
						<input type="text" name="usuario" id="usuario" maxlength="32" />
					</td>
				</tr>
				<tr>
					<td align="right" style="background-color:darkblue;color:white;font-weight:bold">
						clave:
					</td>
					<td>
						<input type="password" name="clave" id="clave" maxlength="32" />
					</td>
				</tr>
				<tr>
					<td align="right">
					</td>
					<td>
						<input type="submit" name="entrar" id="entrar" value="Entrar" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</form>
