<table align="left" cellspacing="0" border="0" width="100%">
<tr>
	<td colspan="2" align="center">
		<p>:: Listas De Precios ::</p>
		<img src="images/gray_dot.jpg" width="189px" height="1px"/><p></p>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=1&pdf=ABRAZADERAS.pdf">Abrazaderas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=2&pdf=ALEMITES.pdf">Alemites</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=3&pdf=ANILLOS DE SEGURIDAD.pdf">Anillos de seguridad</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=4&pdf=ARANDELAS.pdf">Arandelas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=5&pdf=BULONES.pdf">Bulones</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=6&pdf=CHAVETAS.pdf">Chavetas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=7&pdf=ESPARRAGOS.pdf">Esparragos</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=8&pdf=GANCHOS.pdf">Ganchos</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=9&pdf=MECHAS.pdf">Mechas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=10&pdf=PITONES.pdf">Pitones</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=11&pdf=PRISIONEROS.pdf">Prisioneros</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=12&pdf=REMACHES.pdf">Remaches</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=13&pdf=TARUGOS.pdf">Tarugos</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=14&pdf=TIRAFONDOS.pdf">Tirafondos</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=15&pdf=TORNILLOS.pdf">Tornillos</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=16&pdf=TUERCAS.pdf">Tuercas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=17&pdf=VARILLAS ROSCADAS.pdf">Varillas Roscadas</a>
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		<p></p><img src="images/gray_dot.jpg" width="189px" height="1px"/><p></p>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./pdf/BULGIOR_LISTAS_2013.rar">Descargar todas las listas</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="images/arrow1.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./pdf/CATALOGO_BULGIOR.xls">Descargar formato Excel</a>
	</td>
</tr>
</tr>
<tr>
	<td colspan="2" align="center">
		<p></p><img src="images/gray_dot.jpg" width="189px" height="1px"/><p></p>
	</td>
</tr>
</table>
