<table align="left" cellspacing="0" border="0" width="100%">
<tr>
	<td colspan="2" align="center">
		<p>:: trámites ::</p>
		<img src="images/gray_dot.jpg" width="189px" height="1px"/><p></p>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="media/DMEImages/bevArrowPLUS.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=12&acc=tram" title="Inscripción para cursar.">Insc. cursar</a>
	</td>
</tr>
<tr>
	<td align="right">
		<img src="media/DMEImages/bevArrowPLUS.gif">
	</td>
	<td align="left">
		<a class="menuItem" href="./index.php?sid={sid}&opc=13&acc=tram" title="Inscripción para exámenes.">Insc. exámenes</a>
	</td>
</tr>
<tr>
	<td colspan="2" align="center">
		<p></p><img src="images/gray_dot.jpg" width="189px" height="1px"/><p></p>
	</td>
</tr>
</table>
