<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/11/profile">
    <title>WebComponent demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta name="Author" content="Javier A. Villalba <javier[dot]villalba[at]gmail[dot]com> - Noasol <http://noasol.com>" />
    <link rel="stylesheet" type="text/css" href="{PATH_STYLES}{theme}.css" />
  </head>
  <body>
    <table class="maintable">
      <tr>
        <td class="header" style="text-align:center">
          {header}
        </td>
        <td class="menu" style="text-align:center">
          {menu}
        </td>
      </tr>
       <tr>
        <td class="content" colspan="2">
          {content}
        </td>
      </tr>
      <tr>
        <td class="footer" colspan="2">
          {footer}
        </td>
      </tr>
    </table>
  </body>
</html>